parameters:
	ignoreErrors:
		-
			message: '#^Asserted type Setono\\HtmlElementBundle\\Config\\Element for \$this\-\>elements with type array\<string, Setono\\HtmlElementBundle\\Config\\Element\> can never happen\.$#'
			identifier: assert.impossibleType
			count: 1
			path: src/Config/ElementCollection.php

		-
			message: '#^Call to method Setono\\HtmlElementBundle\\Config\\ElementCollection\:\:has\(\) with string will always evaluate to false\.$#'
			identifier: method.impossibleType
			count: 1
			path: src/Config/ElementCollection.php

		-
			message: '#^Method Setono\\HtmlElementBundle\\Config\\ElementCollection\:\:get\(\) should return Setono\\HtmlElementBundle\\Config\\Element but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/Config/ElementCollection.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition\:\:addDefaultsIfNotSet\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			message: '#^Cannot call method arrayNode\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 2
			path: src/DependencyInjection/Configuration.php

		-
			message: '#^Cannot call method arrayPrototype\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			message: '#^Cannot call method cannotBeEmpty\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 2
			path: src/DependencyInjection/Configuration.php

		-
			message: '#^Cannot call method children\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 2
			path: src/DependencyInjection/Configuration.php

		-
			message: '#^Cannot call method end\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 3
			path: src/DependencyInjection/Configuration.php

		-
			message: '#^Cannot call method scalarNode\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 2
			path: src/DependencyInjection/Configuration.php

		-
			message: '#^Cannot call method scalarPrototype\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			message: '#^Cannot call method useAttributeAsKey\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 2
			path: src/DependencyInjection/Configuration.php

		-
			message: '#^PHPDoc tag @var for variable \$config has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/DependencyInjection/SetonoHtmlElementExtension.php

		-
			message: '#^Parameter \#1 \$configuration of method Symfony\\Component\\DependencyInjection\\Extension\\Extension\:\:processConfiguration\(\) expects Symfony\\Component\\Config\\Definition\\ConfigurationInterface, Symfony\\Component\\Config\\Definition\\ConfigurationInterface\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/DependencyInjection/SetonoHtmlElementExtension.php

		-
			message: '#^Call to method Setono\\HtmlElementBundle\\Config\\ElementCollection\:\:has\(\) with string will always evaluate to false\.$#'
			identifier: method.impossibleType
			count: 2
			path: src/Factory/HtmlElementFactory.php

		-
			message: '#^Deprecated in PHP 8\.4\: Parameter \#3 \$value \(string\) is implicitly nullable via default value null\.$#'
			identifier: parameter.implicitlyNullable
			count: 1
			path: src/Twig/Extension.php
